body, html {
}

.bg {
    background-image: url('../images/bgimg2.jpg');
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.font-attribute {
    margin-top:50%;
    font-size: xx-large;
    font-weight: bolder;
}

.centered-text {
    text-align: center;
}

.font-white{
    color:white;
}

.btn {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    color: white;
    background-color: blue;
    border: 1px solid blue;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
    background-color: white;
    color: blue;
}